<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Add maskable icon for Chrome Android -->
    <link rel="icon" type="image/png" sizes="32x32" href="./public/logo.png">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="keywords" content="<%= keywords %>" />

    <meta property="og:description" content="World Class Marketing is an online marketing agency that becomes your marketing department on-demand." />

    <link rel="stylesheet" href="./src/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!--  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <!--  -->

    <!--Montserrat-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!--Montserrat-->
    <!-- hadjet -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap" rel="stylesheet">
    <!-- hadjet -->

    <!-- plus -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <!-- plus -->
     <!-- urbanist -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
     <!-- urbanist -->
      <!-- inter -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
       <!-- inter -->

       <!-- amiri -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <!-- amiri -->

        <!-- Funnel Display -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">
        <!-- Funnel Display -->
    <link rel="manifest" href="webmanifest.json"/>
    <script async src="https://unpkg.com/pwacompat" crossorigin="anonymous"></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="preconnect" href="https://fonts  .gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap" rel="stylesheet">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <meta name="viewport" 
      content="width=device-width, 
               initial-scale=1, 
               maximum-scale=1,
               minimum-scale=1,
               viewport-fit=cover,
               user-scalable=no">
      <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1167739504817121', {
        debug: true // Enable debug mode
      });
      fbq('track', 'PageView');
      </script>
      <!-- start webpushr code --> <script>(function(w,d, s, id) {if(typeof(w.webpushr)!=='undefined') return;w.webpushr=w.webpushr||function(){(w.webpushr.q=w.webpushr.q||[]).push(arguments)};var js, fjs = d.getElementsByTagName(s)[0];js = d.createElement(s); js.id = id;js.async=1;js.src = "https://cdn.webpushr.com/app.min.js";fjs.parentNode.appendChild(js);}(window,document, 'script', 'webpushr-jssdk'));webpushr('setup',{'key':'BCbk0RqAxwJ2MTijHmqM9Dz9sjNUjJgURU-A0wyag5O3VZzL9Ie3g1r_6nnjL3zr0i-1f-j3XfiZWIawAtMTXa8' });</script><!-- end webpushr code -->
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1167739504817121&ev=PageView&noscript=1"
      /></noscript>
  </head>
  <body>
    <div id="root"></div>
    <script src="https://js.pusher.com/beams/1.0/push-notifications-cdn.js"></script>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
