.left-fade-b, .right-fade-b {
    width: 80px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 20;
}
.left-fade-b {
    left:0px;
    background: linear-gradient(270deg, transparent 0, #02040e 100%);
}

@media screen and (min-width: 1024px) {
    .left-fade, .left-fade-b, .right-fade, .right-fade-b {
        width: 300px;
    }
}
@media screen and (min-width: 1024px) {
    .bottom-fade, .bottom-fade-b, .top-fade, .top-fade-b {
        height: 100px;
    }
}
.bottom-fade-b, .top-fade-b {
    width: 100%;
    position: absolute;
    left: 0;
    height: 110px;
    z-index: 20;
}
.bottom-fade-b {
    bottom: 0;
    background: linear-gradient(180deg, transparent 0, #02040e 100%);
}
.top-fade-b {
    top: 0;
    background: linear-gradient(0deg, transparent 0, #02040e 100%);
}
